<style>
#app-chars-output, #app-words-output {
    width: 300px;
}
#app-chars-length, #app-words-length {
    width: 40px;
}
#app-chars-error, #app-words-error {
    margin-left: 10px;
}
#app table {
    padding-left: 10px;
}
</style>

<div id="app">
    <h3>Random characters</h3>
    <p>Character set</p>
    <table><tr>
        <td><label for="app-chars-lower">Lowercase (a-z)</label></td>
        <td><input id="app-chars-lower" type="checkbox" checked/></td>
    </tr><tr>
        <td><label for="app-chars-upper">Uppercase (A-Z)</label></td>
        <td><input id="app-chars-upper" type="checkbox" checked/></td>
    </tr><tr>
        <td><label for="app-chars-digits">Numerals (0-9)</label></td>
        <td><input id="app-chars-digits" type="checkbox" checked/></td>
    </tr><tr>
        <td><label for="app-chars-punctuation">Symbols (all the rest)</label></td>
        <td><input id="app-chars-punctuation" type="checkbox"/></td>
    </tr></table>
    <p><label>Number of characters: <input id="app-chars-length" type="number" value="12"/></label></p>
    <p><button id="app-chars-button">Regenerate</button><span id="app-chars-error"></span></p>
    <p><label>Result: <input id="app-chars-output" type="text" readonly/></label></p>
    <p>Randomness: <span id="app-chars-randomness"></span></p>
    <h3>Common words</h3>
    <p>Dictionary size</p>
    <table><tr>
        <td><label for="app-words-large">Common words (4096 words)</label></td>
        <td><input id="app-words-large" type="radio" name="app-words-size" checked/></td>
    </tr><tr>
        <td><label for="app-words-small">Very common words (2048 words)</label></td>
        <td><input id="app-words-small" type="radio" name="app-words-size"/></td>
    </tr></table>
    <p><label>Number of words: <input id="app-words-length" type="number" value="4"/></label></p>
    <p><button id="app-words-button">Regenerate</button><span id="app-words-error"></span></p>
    <p><label>Result: <input id="app-words-output" type="text" readonly/></label></p>
    <p>Randomness: <span id="app-words-randomness"></span></p>
</div>

<script>
"use strict";

var App = {};

App.PasswordGenerator = function () {
    var ascii = {
        lowercase : "abcdefghijklmnopqrstuvwxyz",
        uppercase : "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
        digits : "0123456789",
        punctuation : " !\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
    };
    function generateCharsPassword(charTypes, passwordLength) {
        var charPool = "", password = "";
        for (var i = 0; i < charTypes.length; i++) {
            charPool += ascii[charTypes[i]];
        }
        for (var i = 0; i < passwordLength; i++) {
            var index = Math.floor(Math.random()*charPool.length);
            password += charPool.charAt(index);
        }
        var entropy = round(Math.log(Math.pow(charPool.length, passwordLength))/Math.log(2), 2);
        return {
            result : password,
            randomness : charPool.length + "<sup>" + passwordLength + "</sup> = 2<sup>" + entropy + "</sup>"
        };
    }

    var words = [];
    function generateWordsPassword(dictSize, numberOfWords) {
        var wordsLeft = numberOfWords;
        var password = [];
        while (wordsLeft > 0) {
            var wordIndex = Math.floor(Math.random() * dictSize);
            var word = words[wordIndex];
            if (password.indexOf(word) === -1) {
                password.push(word);
                wordsLeft--;
            }
        }
        var entropy = round(Math.log(Math.pow(dictSize, numberOfWords))/Math.log(2), 2);
        return {
            result : password.join(" "),
            randomness : dictSize + "<sup>" + numberOfWords + "</sup> = 2<sup>" + entropy + "</sup>"
        };
    }

    function displayCharsPassword() {
        var passwordLength = strToFinite(id("app-chars-length").value);
        var charTypes = [];
        if (id("app-chars-upper").checked) charTypes.push("uppercase");
        if (id("app-chars-lower").checked) charTypes.push("lowercase");
        if (id("app-chars-digits").checked) charTypes.push("digits");
        if (id("app-chars-punctuation").checked) charTypes.push("punctuation");

        if (Number.isNaN(passwordLength) || Math.round(passwordLength) !== passwordLength || passwordLength <= 0) {
            id("app-chars-error").innerHTML = "Number of characters must be a positive integer.";
        } else if (charTypes.length === 0) {
            id("app-chars-error").innerHTML = "At least one type of character must be selected from the character set.";
        } else {
            id("app-chars-error").innerHTML = "";
        }
        if (id("app-chars-error").innerHTML !== "") return false;

        var output = generateCharsPassword(charTypes, passwordLength);
        id("app-chars-output").value = output.result;
        id("app-chars-randomness").innerHTML = output.randomness;
    }

    function initWords(req) {
        if (req && req.responseText) {
            words = req.responseText.split(",");
            displayWordsPassword();
        }
    }
    function displayWordsPassword() {
        var dictSize = (id("app-words-large").checked) ? 4096 : 2048;
        var numberOfWords = strToFinite(id("app-words-length").value);
        if (Number.isNaN(numberOfWords) || Math.round(numberOfWords) !== numberOfWords || numberOfWords <= 0) {
            id("app-words-error").innerHTML = "Number of words must be a positive integer.";
        } else if (words.length === 0) {
            id("app-words-error").innerHTML = "Unable to load dictionary."
        } else {
            id("app-words-error").innerHTML = "";
        }
        if (id("app-words-error").innerHTML !== "") return false;

        var output = generateWordsPassword(dictSize, numberOfWords);
        id("app-words-output").value = output.result;
        id("app-words-randomness").innerHTML = output.randomness;
    }

    return {
        init : function () {
            id("app-chars-button").addEventListener("click", displayCharsPassword.bind(this));
            listen(id("app-chars-length, app-chars-upper, app-chars-lower, app-chars-digits, app-chars-punctuation"), "change", displayCharsPassword.bind(this));
            displayCharsPassword();

            load("/files/common-words.txt", initWords);
            id("app-words-button").addEventListener("click", displayWordsPassword.bind(this));
            listen(id("app-words-large, app-words-small, app-words-length"), "change", displayWordsPassword.bind(this));
        }
    };
};

App.app = new App.PasswordGenerator();
App.app.init();

</script>
